<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>MegaDesk</title>
</head>
<body>
    <h1>Main Menu</h1>
    <p>
        <a href="~/AddQuote.cshtml">Add Quote</a>
    </p>
    <p>
        <a href="~/ViewQuotes.cshtml">View Quotes</a>
    </p>
    <p>
        <a href="~/SearchQuotes.cshtml">Search Quotes</a>
    </p>

</body>
</html>
