<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>MegaDesk</title>
</head>
<body>
    <h1>Main Menu</h1>
    <p>
        <a href="">Add Quote</a>
    </p>
    <p>
        <a href="">View Quotes</a>
    </p>
    <p>
        <a href="">Search Quotes</a>
    </p>

</body>
</html>
